version: 2.1

workflows:
  my-workflow:
    jobs:
      - run-tests

jobs:
  run-tests:
    docker:
      - image: cimg/base:2020.01
    steps:
      - run:
          name: "echo environment variables from org-global ontext"
          command: echo $AWS_SECRETT
